/* ブラウザがそれぞれ持っているCSSの使用ををリセットできる *は全てに適応できる */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background-imageで画像を張ることも可能 */
.main {
    background-color: #ccffff;
    /* background-image: url(image/main.jpg); */
}

h1{
    color: red;
    font-size: 30px;
}

/* command+?でもショートカット可　クラス名を付けるときは.がいる*/
/* font-familyは書体を設定できる sans-serif serifはオススメされやすい */
.title-1 {
    color :orange;
    font-size :25px;
    font-family :serif;
}

/* idは#がいる */
#id-method {
    color :blue;
}

/* font-weightは文字の太さ*/
.title-2 {
    color :silver;
    font-size :25px;
    font-weight: bold;
}

/* underlineをつけた */
h3 {
    color: green;
    text-decoration: underline;
}