/* ブラウザがそれぞれ持っているCSSの使用ををリセットできる *は全てに適応できる */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle {
    background-color: orange;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    border-radius: 50%;
    /* border-radiusは50%が最大で、大きいほど縁になっていく */
    background: linear-gradient(0deg, red, yellow);
    /* どの角度から何色で始まり何色で終わるか */
}